<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Admin Tests">
        <classes>
            <class name="tests.AdminTests"/>
        </classes>
    </test>
    <test name="User Tests">
        <classes>
            <class name="tests.UserTests"/>
        </classes>
    </test>
</suite>